* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  color: #111;
  min-height: 100vh;
}

.task-completed {
  background-color: green;
}

.button {
  padding: 5px;
  border: none;
  cursor: pointer;
}
